<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スケジュール</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="edit">
    <h1>スケジュールの編集</h1>
    <form class="inputForm" action="/update/<%= schedule[0].id %>" method="post" novalidate>
        <p id="sDate">
            <%= schedule[0].date %>
        </p><br>
        <label for="id">タイトル：</label><input id="id" type="text" name="title" value="<%= schedule[0].title %>"><br>
        <label for="date">記入者：</label><input id="date" type="text" name="username"
            value="<%= schedule[0].username %>"><br>
        <label for="content">内容：</label><input id="content" type="text" name="content"
            value="<%= schedule[0].content %>">
        <p><input class="btn" type="submit" value="送信"></p>
    </form>

    <script>
        let sDate = document.querySelector('#sDate')
        let value = sDate.innerHTML
        sDate.innerHTML = value.replace('-', '年').replace('-', '月') + '日'

        let btn = document.querySelector('.btn')
        btn.addEventListener('click', () => {
            setTimeout(() => {
                window.close()
                window.opener.location.reload()
            }, 100);
        })
    </script>
</body>

</html>